.il-maincontrols-metabar {
	display: none;
}

.il-logo {
	margin-right: 1.5rem;
}

#headerimage, h1.ilHeader {
	display: none;
}

div.il_HeaderInner {
	padding-top: 0px;
}

#kioskClock {
	border-style:		none;
	-moz-box-shadow:	inset 1px 1px 4px 0px #697783;
	-webkit-box-shadow:	inset 1px 1px 4px 0px #697783;
	box-shadow:			inset 1px 1px 4px 0px #697783;
	background-color:	#8ec05c;
	padding:			4px 5px 3px 6px;
	margin:				-4px 1px -3px 17px; 
	font-size:			small;
	font-weight:		normal;
}

.il-maincontrols-slate-content li.il-workflow-step {
	margin-bottom:		-30px;
}

.il-workflow-container .available .il-workflow-step-label .btn.btn-link {
	color:				#4c6586;
	font-size:			0.75rem;
	vertical-align:		super;
}

.il-workflow-container .active .text .il-workflow-step-label .btn.btn-link {
	color:				#161616;
	font-size:			0.75rem;
	font-weight:		600;
	vertical-align:		super;
}

.il-workflow-container .available::before {
	height:				12px;
	width:				12px;
	line-height:		12px;
	margin-left:		9px;
}

.il-workflow-container .active::before {
	height:				16px;
	width:				16px;
	line-height:		16px;
	margin-left:		7.5px;
}