.il-maincontrols-metabar {
	display: none;
}

.il-logo {
	margin-right: 1.5rem;
}

#headerimage, h1.ilHeader {
	display: none;
}

div.il_HeaderInner {
	padding-top: 0px;
}

#kioskClock {
	border-style:		none;
	-moz-box-shadow:	inset 1px 1px 4px 0px #697783;
	-webkit-box-shadow:	inset 1px 1px 4px 0px #697783;
	box-shadow:			inset 1px 1px 4px 0px #697783;
	background-color:	#8ec05c;
	padding:			4px 5px 3px 6px;
	margin:				-4px 1px -3px 17px; 
	font-size:			small;
	font-weight:		normal;
}	